:root {
	--backgd: #FFFAE7;
	--bigFont: #3B230A;
  --smallFont: ;
  --quote: #C2D2BD;
  --signUpBox: #C8A977;
  --signUpText: white; 
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body{
background-color: var(--backgd);
text-align: center;
width: 100%;
margin:auto;
}

.container{
  display: flex;
  justify-items: right;
  padding: 5px;
  gap: 52px;
  
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: #C8A977;
  color: #3B230A
}

.logo {
  font-weight: 800;
}

.left, .right{
 display: flex;
 align-items: center;
}

.links{
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section1{
  display: flex;
  justify-content: space-around;
  background: #C2D2BD;
  padding: 80px;
}

.h2{
  font-size: 38px;
  display: flex;
  flex-direction: column;
}

.p1{
  font-size: 18px;
  padding: 15px;
}

.signup{
  border-radius: 7px;
  background: #C8A977;
  padding: 8px;
}


.main-img{
  width: 522px;
  height: auto;
  border-radius: 7px;
}

.info{
  padding: 32px;
}

.section2{
  display: flex;
  justify-content: center;
  
}

img{
    width: 168px;
    height: 168px;
    border-radius: 7px;
  }

.section3{
  display: flex;
  font-size: 38px;
  font-style: italic;
  font-weight: 100;
  padding: 100px;
  background: #C2D2BD;
}
#quote.container{
  flex-direction: column;
  
}

.quote2{
  display: flex;
  justify-content: end;
}

.section4{
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

#box {
  background-color: #C8A977;
  flex-direction: row;
  padding: 20px;
  border-radius: 7px;
}

.newc{

}

.sign{
  display: flex;
  border: #fff solid;
  border-radius: 7px;
  padding: 8px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C8A977;
}